.aboutPage {
    height: 90%;
    justify-content: space-evenly;

    h2 {
        margin-bottom: 2em;
    }

    p {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        margin: 0.5em;
        padding: 1em;
        text-align: justify;
    }

    img {
        max-width: 70%;
    }
}

.aboutPage.animate {
    h2 {
        animation: slideInRight 1s;
    }

    p {
        animation: slideInLeft 1s;
    }

    img {
        animation: slideInRight 1s;
    }
}