.projectsPage {
    height: 100%;
    justify-content: center;

    .title {
        margin-top: 2em;
    }

    .project {
        height: 80%;
        width: 90%;
        margin: 0 5%;
        margin-bottom: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 30px;

        padding: 0.7em;

        h4 {
            text-transform: uppercase;
            font-size: 1.5em;
        }

        img {
            max-width: 308px;
        }

        p {
            text-align: justify;
            font-size: 0.9em;
        }
    }

    .slide.active {
        .project > * {
            visibility: hidden;
            animation: hopIn 500ms linear;
            animation-fill-mode: forwards;

            @for $i from 1 through 50 {
                &:nth-child(#{$i}) {
                  animation-delay: 250ms * ($i - 1);
                }
            }
        }
    }

}

.fp-controlArrow.fp-next {
    border-width: 19.25px 0 19.25px 17px;
}

.fp-controlArrow.fp-prev {
    border-width: 19.25px 17px 19.25px 0;
}

.projectsPage.animate {
    .title {
        animation: slideInRight 1s;
    }

    .project {
        animation: slideInLeft 1s;
    }
}

@keyframes hopIn {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0;
        visibility: visible;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
        visibility: visible;
    }
}