.swiper-container {
  width: 100%;
  height: 100%;
  /*this gives the dimension of slider container*/
  /*these values will make the container as big as the parent div*/
  overflow: hidden;
  /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}

.swiper-slide {
  width: 300px;
  height: 300px;
  /*this one holds the dimension of each slides and can be changed according to the user wish*/
}

.projectsPage {
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectsPage .title {
  margin-top: 2em;
}

.projectsPage .container {
  height: 80%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsPage .btnContainer {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsPage .customBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.projectsPage .leftBorder {
  border-left: solid black;
}

.projectsPage .rightBorder {
  border-right: solid black;
}

.projectsPage .project {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 0.7em;
  border-bottom: solid black;
}

.projectsPage .project h4 {
  text-transform: uppercase;
  font-size: 1.35em;
  padding: 1em 0;
}

.projectsPage .project img {
  max-width: 308px;
}

.projectsPage .project p {
  text-align: justify;
  font-size: 0.9em;
}

.projectsPage .container .project[anim="1"] > * {
  visibility: hidden;
  -webkit-animation: hopIn 250ms ease-out;
          animation: hopIn 250ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.projectsPage .container .project[anim="1"] > *:nth-child(1) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(2) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(4) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(5) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(6) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(7) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(8) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(9) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(10) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(11) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(12) {
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(13) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(14) {
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(15) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(16) {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(17) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(18) {
  -webkit-animation-delay: 2550ms;
          animation-delay: 2550ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(19) {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(20) {
  -webkit-animation-delay: 2850ms;
          animation-delay: 2850ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(21) {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(22) {
  -webkit-animation-delay: 3150ms;
          animation-delay: 3150ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(23) {
  -webkit-animation-delay: 3300ms;
          animation-delay: 3300ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(24) {
  -webkit-animation-delay: 3450ms;
          animation-delay: 3450ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(25) {
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(26) {
  -webkit-animation-delay: 3750ms;
          animation-delay: 3750ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(27) {
  -webkit-animation-delay: 3900ms;
          animation-delay: 3900ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(28) {
  -webkit-animation-delay: 4050ms;
          animation-delay: 4050ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(29) {
  -webkit-animation-delay: 4200ms;
          animation-delay: 4200ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(30) {
  -webkit-animation-delay: 4350ms;
          animation-delay: 4350ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(31) {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(32) {
  -webkit-animation-delay: 4650ms;
          animation-delay: 4650ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(33) {
  -webkit-animation-delay: 4800ms;
          animation-delay: 4800ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(34) {
  -webkit-animation-delay: 4950ms;
          animation-delay: 4950ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(35) {
  -webkit-animation-delay: 5100ms;
          animation-delay: 5100ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(36) {
  -webkit-animation-delay: 5250ms;
          animation-delay: 5250ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(37) {
  -webkit-animation-delay: 5400ms;
          animation-delay: 5400ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(38) {
  -webkit-animation-delay: 5550ms;
          animation-delay: 5550ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(39) {
  -webkit-animation-delay: 5700ms;
          animation-delay: 5700ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(40) {
  -webkit-animation-delay: 5850ms;
          animation-delay: 5850ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(41) {
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(42) {
  -webkit-animation-delay: 6150ms;
          animation-delay: 6150ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(43) {
  -webkit-animation-delay: 6300ms;
          animation-delay: 6300ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(44) {
  -webkit-animation-delay: 6450ms;
          animation-delay: 6450ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(45) {
  -webkit-animation-delay: 6600ms;
          animation-delay: 6600ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(46) {
  -webkit-animation-delay: 6750ms;
          animation-delay: 6750ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(47) {
  -webkit-animation-delay: 6900ms;
          animation-delay: 6900ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(48) {
  -webkit-animation-delay: 7050ms;
          animation-delay: 7050ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(49) {
  -webkit-animation-delay: 7200ms;
          animation-delay: 7200ms;
}

.projectsPage .container .project[anim="1"] > *:nth-child(50) {
  -webkit-animation-delay: 7350ms;
          animation-delay: 7350ms;
}

.fp-controlArrow.fp-next {
  border-width: 19.25px 0 19.25px 17px !important;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.3) !important;
  -webkit-animation: nextArrow 1s ease-out 0s infinite alternate !important;
          animation: nextArrow 1s ease-out 0s infinite alternate !important;
}

.fp-controlArrow.fp-prev {
  border-width: 19.25px 17px 19.25px 0 !important;
  border-color: transparent rgba(255, 255, 255, 0.3) transparent transparent !important;
  -webkit-animation: prevArrow 1s ease-out 0s infinite alternate !important;
          animation: prevArrow 1s ease-out 0s infinite alternate !important;
}

@-webkit-keyframes nextArrow {
  from {
    right: 12px;
  }
  to {
    right: 10px;
  }
}

@keyframes nextArrow {
  from {
    right: 12px;
  }
  to {
    right: 10px;
  }
}

@-webkit-keyframes prevArrow {
  from {
    left: 12px;
  }
  to {
    left: 10px;
  }
}

@keyframes prevArrow {
  from {
    left: 12px;
  }
  to {
    left: 10px;
  }
}

.projectsPage.animate .title {
  -webkit-animation: slideInRight 1s;
          animation: slideInRight 1s;
}

.projectsPage.animate .project {
  -webkit-animation: slideInLeft 1s;
          animation: slideInLeft 1s;
}

@-webkit-keyframes hopIn {
  0% {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hopIn {
  0% {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=projectsPage.css.map */